.footer__container {
    padding-top: 62px;
    padding-bottom: 24px;
    border-top: 1px solid #BFBDB2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.footer_dev {
    
     display: flex;
     justify-content: flex-end;
     margin-right: 54px;
}

.footer__logo {
}


.footer__navigation {
    justify-content: center;
    margin-right: 54px;
}
.footer__list {
}
.footer__item-list {
    display: table-row;
}
.footer__link {
}

.footer__copyright {
}