.footer__container {
    padding-top: 62px;
    padding-bottom: 24px;
    border-top: 1px solid #BFBDB2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}


/* посомтреть от сюда???? */
.footer_dev {
    display: ;

}
.footer__logo {
}
.footer__navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 54px;
}
.footer__list {
}
.footer__item-list {
}
.footer__link {
}

.footer__copyright {
}